<%- include('../partials/header') %>
<html>

<head>
  <nav><a href="/">HOME</a><a href="/">Genshin</a><a href="/">Warcraft</a></nav>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

  
<%- include('../partials/footer') %>