<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
      <nav>
        <a href="/">&nbsp;Home&nbsp;</a>
        <a href="/about/">&nbsp;About&nbsp;</a>
        <% if(user) { %>
        <a href="/todos">Games</a>
        <a href="/logout">Log off</a>
       <% } else { %> 
        <a href="/auth/google" class="login">Log on&nbsp;</a>
       <% } %> 
      </nav>
      <main>