<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
      <nav>
        <a href="/">&nbsp;HOME&nbsp;</a>
        <% if(user) { %>
        <a href="//new">&nbsp;</a>
        <a href="/logout">LOG OUT</a>
       <% } else { %> 
        <a href="/auth/google" class="login">LOG IN&nbsp;</a>
       <% } %> 
      </nav>
      <main>