<%- include('../partials/header') %>
<body>
  <h1>Dailies to date</h1>

  <div class="flex-container">
    <div>Genshin Impact</div>
    <div>World Of Warcraft</div>
    <div>League of legends</div>
 </div> 

</tbody>
</body>



<%- include('../partials/footer') %>