<%- include('../partials/header') %>

<body>
  <h1>New daily</h1>
  <form action="/todos" method="POST" autocomplete="off">
    <input type="text" name="todo">
    <button type="submit">Save task</button>
  </form>
</body>


<%- include('../partials/footer') %>